* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    padding-top: 20px;
}

.video {
    width: 75%;
    height: 500px;
    float: left;
}

.right-image {
    width: 25%;
    float: left;
    height: 500px;
    padding-left: 10px;
}

.img-item {
    display: block;
    width: 100%;
    height: calc(100% / 3);
}

.img-item:hover {
    transform: translate(-2px,-2px);
}

.img-item:nth-child(2n) {
    padding: 8px 0;
}