* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    /* display: flex; */

}

header {
    width: 100%;
    font-size: 2rem;
    background-color: aquamarine;
    padding: 20px 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(69, 3, 14);
    font-weight: 600;
}

nav {
    background-color: #ccc;
    padding: 20px 0;
}

.menu-list {
    list-style-type: none;
    margin-bottom: 10px;
}

.menu-item {
    display: inline-block;
    padding-right: 10px;
}

.menu-link {
    text-decoration: none;
    font-size: 1.6rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.box {
    background-color: pink;
    height: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}


/* Điện thoại */
@media (max-width: 739px) {
    .pc, .tablet {
        display: none;
    }
}

/* Máy tính bảng */

@media (min-width: 740px) and (max-width: 1023px) {
    .lg-0 {
        display: none;
    }
    .lg-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .lg-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .lg-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .lg-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .lg-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .lg-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .lg-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .lg-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .lg-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .lg-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .lg-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .lg-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
}

/* PC */

@media (min-width: 1024px) {
    .xl-0 {
        display: none;
    }
    .xl-1 {
        flex: 0 0 calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .xl-2 {
        flex: 0 0 calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .xl-3 {
        flex: 0 0 calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .xl-4 {
        flex: 0 0 calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .xl-5 {
        flex: 0 0 calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .xl-6 {
        flex: 0 0 calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .xl-7 {
        flex: 0 0 calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .xl-8 {
        flex: 0 0 calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .xl-9 {
        flex: 0 0 calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .xl-10 {
        flex: 0 0 calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .xl-11 {
        flex: 0 0 calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .xl-12 {
        flex: 0 0 calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    
}